.form{
    background-color: #fafafa;
    margin: 100px auto;
    width: 90%;
    max-width: 400px;
    padding: 50px;
    padding-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px;
    text-align: center;
}

.form-title{
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 700;
    color: #000000;
}

.form-container{
    margin-top: 50px;
    display:flex;
}

.form-group{
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.form-txt{
    width: 100%;
    background: none;
    margin-bottom: 8px;
    color: #000000;
    font-size: 16px;
    padding: 5px 3px;
    border:none;
    outline:none;
    border-bottom: 1px solid #000000;
}

.form-txt:focus + .form-lblTxt, .form-txt:not(:placeholder-shown) + .form-lblTxt{
    transform: translateY(-13px) scale(0.9);
    transform-origin: left top;
}

.form-lblTxt{
    color: #000000;
    position:absolute;
    font-size: 15px;
    top:0;
    left:5px;
    font-weight: bold;
    transform: translateY(9px);
    transform-origin: left bottom;
    transition: transform .5s;
}

.form-lblError{
    width: 100%;
    color: #ff0000;;
    text-align: center;
}

.form-btn{
    width: 100%;
    background-color: #000000;
    color:#ffffff;
    font-weight: 300;
    font-size: 16px;
    padding: 12px 0px;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s;
    margin-top: 8px;
    margin-bottom: 20px;
}

.form-btn:hover{
    color: #12a5af;;
    background-color: #ffffff;
}

.info{
    margin-top: 5px;
    text-align: center;
    font-style: oblique;
    color: gray;
}

#fecha,#hora,#nombre{
    font-weight: bold;
}

table{
    text-align: left;
    background-color: #ffffff;
    border-collapse: collapse;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 20px;
}

th,td{
    padding: 10px;
    border: solid 1px #000000;
}

thead{
    font-weight: 700;
    background-color: #000000;
    color:#ffffff;
}

tr:nth-child(even){
    background-color: #fafafa;
}

tr:hover td{
    background-color: #12a5af;
    color:#ffffff;
    cursor:pointer;
}

.text{
    padding: 20px;
    border-radius: 15px;
    color:#000000;
    background-color: gray;
    font-size: 35px;
    font-weight: 700;
    margin-top: 25px;
}