*{
    box-sizing: border-box;
    --azul: rgb(56, 102, 242);
    --blanco: rgb(255, 255, 255);
    --negro: rgb(0, 0, 0);
    --gris: rgb(221, 221, 221);
    --violeta: rgb(143, 143, 229);
    --violetaClaro: rgb(170, 170, 236);
    --violetaOscuro: rgb(71, 71, 147);
}

body{
    background-color: #fafafa;
}

header{
    width: 100%;
    height: 100px;
    padding: 0px 50px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

header h1{
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
}

header nav{
    display:inherit;
    align-items: center;
    justify-content: space-around;
    width: 400px;
}

header nav .btnNav{
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    color:#ffffff;
    transition: color .3s;
}

header nav .btnNav:hover{
    color: #12a5af;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

footer p{
    color: #000000;
    font-weight: 700;
    font-style: oblique;
    text-align: center;
}

.hidden{
    display:none;
}

.verde{
    background-color: #00ff59;
}

.amarillo{
    background-color: #e5ff00;
}

.gris{
    background-color: #555555;
}

.blanco{
    background-color: white;
}